<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://kit.fontawesome.com/a31f276021.js" crossorigin="anonymous"></script>
    <title>MercadoLiebre</title>
</head>
<body class="home">
    <header>
        <div class="header-wrapper-logo-search">
            <div class="header-logo">
                <a href="/"><img src="/images/logo-mercado-liebre.svg" alt="logo-mercado-liebre"></a>
            </div>        
            <form class="header-search">
                <input type="text" placeholder="Buscar productos, marcas" class="input-search">
                <button type="submit" class="search-button"><i class="fas fa-search"></i></button>
            </form>
            <div class="sin-tarjeta">
                <p><i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de crédito</p>
            </div>
        </div>
        
        <nav>
            <div class="nav-bar-links-left">
                <ul>
                    <li><a href="#Ofertas">Ofertas</a></li>
                    <li><a href="#Tiendas Oficiales">Tiendas Oficiales</a></li>
                    <li><a href="#Vender">Vender</a></li>
                    <li><a href="#Ayuda">Ayuda</a></li>
                </ul>
            </div>
            <div class="nav-bar-links-left">
                <ul>
                    <li><a href="/register">Crea tu cuenta <i class="far fa-id-card"></i></a></li>
                    <li><a href="/login">Ingresa <i class="fas fa-sign-in-alt"></i></a></li>
                    <li><a href="">Mis compras <i class="fas fa-shopping-basket"></i></a></li>
                </ul>
            </div>
        </nav>
        <div class="burger-menu">
            <i class="fas fa-bars"></i>
        </div>
      </header>
<main>
        <section id="banner">
            <div class="home-banner"><img src="/images/img-home-banner.jpg"></div>
        </section>
        
        <section class="container">
            <h2 id="container-section-title">Basado en tu última visita</h2>
            <!--PRODUCTS START-->
            <div class="products-wrapper">
                <div class="box-item">
                    <img src="/images/img-cafetera-moulinex.jpg" alt="img-item">
                    <div class="item-description">
                        <h3><i class="fas fa-truck delivery"></i></h3>
                        <div class="item-price-wrapper">
                            <h2>$6.770</h2>
                            <p id="descuento">40% off</p>
                        </div>
                        <h3 id="descripcion-articulo">Cafetera Moulinex</h3>
                    </div>
                </div>
                <div class="box-item">
                    <img src="/images/img-macbook-pro-2019.jpg" alt="img-item">
                    <div class="item-description">
                        <h3><i class="fas fa-truck delivery"></i></h3>
                        <div class="item-price-wrapper">
                            <h2>$230.000</h2>
                            <p id="descuento">20% off</p>
                        </div>
                        <h3 id="descripcion-articulo">MacBook Pro 2019</h3>
                    </div>
                </div>
                <div class="box-item">
                    <img src="/images/img-samsung-galaxy-s10.jpg" alt="img-item">
                    <div class="item-description">
                        <h3><i class="fas fa-truck delivery"></i></h3>
                        <div class="item-price-wrapper">
                            <h2>$70.500</h2>
                            <p id="descuento">10% off</p>
                        </div>
                        <h3 id="descripcion-articulo">Samsung Galaxy S10</h2>
                    </div>
                </div>
                <div class="box-item">
                    <img src="/images/img-tv-samsung-smart.jpg" alt="img-item">
                    <div class="item-description">
                        <h3><i class="fas fa-truck delivery"></i></h3>
                        <div class="item-price-wrapper">
                            <h2>$23.200</h2>
                            <p id="descuento">5% off</p>
                        </div>
                        <h3 id="descripcion-articulo">SmartTv Samsung 43"</h3>
                    </div>
                </div>
            </div>
            <!--PRODUCTS END-->
        </section>
        
        <section class="container">
            <div>
                <h2 id="container-section-title">Sección de Ofertas</h2>
            </div>
            <!--PRODUCTS START-->
            <div class="products-wrapper">
                <div class="box-item">
                    <img src="/images/img-cafetera-moulinex.jpg" alt="img-item">
                    <div class="item-description">
                        <h3><i class="fas fa-truck delivery"></i></h3>
                        <div class="item-price-wrapper">
                            <h2>$6.770</h2>
                            <p id="descuento">40% off</p>
                        </div>
                        <h3 id="descripcion-articulo">Cafetera Moulinex</h3>
                    </div>
                </div>
                <div class="box-item">
                    <img src="/images/img-macbook-pro-2019.jpg" alt="img-item">
                    <div class="item-description">
                        <h3><i class="fas fa-truck delivery"></i></h3>
                        <div class="item-price-wrapper">
                            <h2>$230.000</h2>
                            <p id="descuento">20% off</p>
                        </div>
                        <h3 id="descripcion-articulo">MacBook Pro 2019</h3>
                    </div>
                </div>
                <div class="box-item">
                    <img src="/images/img-samsung-galaxy-s10.jpg" alt="img-item">
                    <div class="item-description">
                        <h3><i class="fas fa-truck delivery"></i></h3>
                        <div class="item-price-wrapper">
                            <h2>$70.500</h2>
                            <p id="descuento">10% off</p>
                        </div>
                        <h3 id="descripcion-articulo">Samsung Galaxy S10</h2>
                    </div>
                </div>
                <div class="box-item">
                    <img src="/images/img-tv-samsung-smart.jpg" alt="img-item">
                    <div class="item-description">
                        <h3><i class="fas fa-truck delivery"></i></h3>
                        <div class="item-price-wrapper">
                            <h2>$23.200</h2>
                            <p id="descuento">5% off</p>
                        </div>
                        <h3 id="descripcion-articulo">SmartTv Samsung 43"</h3>
                    </div>    
                </div>
            </div>
            <!--PRODUCTS END-->
        </section>
</main>
    
    <footer>
        <article class="footer-item-box">
            <i class="fas fa-credit-card"></i>
            <h4>Pagá con tarjeta o en efectivo</h4>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
        </article>
        <article class="footer-item-box">
            <i class="fas fa-gift"></i>
            <h4>Envío gratis desde $ 2.500</h4>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
        </article>
        <article class="footer-item-box">
            <i class="fas fa-gift"></i>
            <h4>Seguridad, de principio a fin</h4>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
        </article>
        <article>
            <span id="copyright">Copyright © 1999-2020 MercadoLiebre S.R.L.</span>
        </article>
    </footer>
</body>
</html>